html,body,h1,h2,h3,h4,h5,h6,p,pre,ol,ul,li,form,input,textarea
{
    margin:0;
    padding:0;
    list-style: none;
}
body{
    /*font至少需要两个*/
    font:16px "Microsoft YaHei UI","sans-serif";
    color:#333333;
    background-color: #ffffff;
}
b,strong,em,i,del,s
{
   font-weight:normal;
    text-decoration: none;
    font-style: normal;
}
a{
    text-decoration: none;
    color:#333;
}
img
{
    border:0;
}